header{
    background-image: url('/images/bannerBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.navbar-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: relative;
    z-index: 3;
    border-bottom: 2px solid #fff;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.collapse-btn{
    width: 30px;
}

.collapse-btn:hover{
    cursor: pointer;
}

.collapse-btn img{
    width: 100%;
}

.nav-menu-items{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: rgba(000, 000, 000, 0.8);
}

.nav-item{
    margin: 10px 0;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
}

.open{
    display: block;
}

/* banner style */
.banner{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 3;
}

.banner-components h1{
    font-size: 40px;
    color:#fff;
}

.banner-components p{
    color: #fff;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
}

.banner-img{
    display: none;
}

/* Desktop breakpoint */
@media only screen and (min-width: 900px){
    .buttons{
        flex-direction: row;
    }
    
    .banner {
        height: auto;
        margin-top: 100px;
    }

    .banner-img{
        display: block;
        position: absolute;
        right: 20px;
        bottom: -100px;
    }

    .banner-components{
        max-width: 500px;
    }

    h1,
    p,
    .buttons {
        margin: 50px 0;
    }
}